{% extends 'layout.html' %}

{% block title %}Result{% endblock %}

{% block content %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
 <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
 <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<h2>Result of Selected Product : {{name}}</h2> 
<br>
<div id="print">
Product Name : {{name}}
<br>
<br>
{% if productdata|length %}
Uploaded Date : {{ productdata[0] }}
<br>
<br>
Manufactured By : {{ productdata[1] }}
{% endif %}
{% if msg|length %}
<br>
<br>
<b>{{ msg }}
</b>
<br>
<br>
{% else %}
<h2>Predictions</h2>
<br>
<br>
{{ likemsg }}
<br>
<br>
{{ hatemsg }}
<br>
<br>

 <h2>{{ ratingtitle }}</h2>
<br>
<br>
  <canvas id="pieChart" width="600" height="400"></canvas>
  <canvas id="lineChart" width="650" height="400"></canvas>
  
   <script type = "text/javascript">
   
   var pieData = [
        {% for item, label, colors in piedata %}
          {
            value: {{item}},
            label: "{{label}}",
            color : "{{colors}}"
          },
        {% endfor %}
        
      ];
      
       // draw pie chart
      new Chart(document.getElementById("pieChart").getContext("2d")).Pie(pieData);
      
      
    // line chart data
      var lineData = {
        labels : [
          {% for item in linelabels %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in linevalues %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

     // get line chart canvas
     var mychart = document.getElementById("lineChart").getContext("2d");

       steps = 10
       max = {{max}}

      // draw Line Chart
      var LineChartDemo = new Chart(mychart).Line(lineData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });
     
    </script>
<br>
<br>
<br>
 {{ ratingtitle }} Details : 
<table width = "100%" class="tablecontent">
<tr class="tr">
 <td colspan = "3" class="tabledata">
	Content of Pie Chart :
 </td>
 <td colspan = "2" class="tabledata">
	Content of Line Chart :
 </td>
</tr>
<tr class="tablerow">
		<th width="20%" class="tablehead">Colour</th>
		<th width="20%" class="tablehead">Label</th>
		<th width="20%" class="tablehead">Value</th>
		<th width="20%" class="tablehead">Label</th>
		<th width="20%" class="tablehead">Value</th>
</tr>

	{% for item, label, colors in pietable %}
	<tr class="tablerow">
		<td width = "20%" class="tabledata"> {{ colors }}</td>
		<td width = "20%" class="tabledata"> {{ label }}</td>
		<td width = "20%" class="tabledata"> {{ item }}</td>
		<td width = "20%" class="tabledata"> {{ label }}</td>
		<td width = "20%" class="tabledata"> {{ item }}</td>
		<br>
	</tr>
	{% endfor %}

</table>
<br>
<br>

 <h2>{{ helpfultitle }}</h2>
 <br>
 <br>
 <p> It consists of user's view of the product whether user likes the product or not.</ps>
 <br>
 <br>
  <canvas id="gaugeChart" width="600" height="400"></canvas>
  <canvas id="barChart" width="650" height="400"></canvas>
 
   <script type="text/javascript">
   
   var doughnutData = [
        {% for item, label, colors in gaugedata %}
          {
            value: {{item}},
            label: "{{label}}",
            color : "{{colors}}"
          },
        {% endfor %}
        
      ];
      
       // draw pie chart
      new Chart(document.getElementById("gaugeChart").getContext("2d")).Doughnut(doughnutData);
   
   
    // bar chart data
      var barData = {
        labels : [
          {% for item in barlabels %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in barvalues %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     var mychart = document.getElementById("barChart").getContext("2d");

       steps = 10
       max = {{max}}

      // draw Line Chart
      var LineChartDemo = new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });
     
      </script>
<br>
<br>
 {{ helpfultitle }} Details : 
<table class="tablecontent">
<tr class="tablerow">
 <td colspan = "3" class="tabledata">
	Content of Doughnut Chart :
 </td>
 <td colspan = "2" class="tabledata">
	Content of Bar Chart :
 </td>
</tr>
<tr class="tablerow">
		<th width="20%" class="tablehead">Colour</th>
		<th width="20%" class="tablehead">Label</th>
		<th width="20%" class="tablehead">Value</th>
		<th width="20%" class="tablehead">Label</th>
		<th width="20%" class="tablehead">Value</th>
		
</tr>

	{% for label, value, color in bartable %}
	<tr class="tablerow">
		<td width = "20%" class="tabledata"> {{ color }}</td>
		<td width = "20%" class="tabledata"> {{ label }}</td>
		<td width = "20%" class="tabledata"> {{ value }}</td>
		<td width = "20%" class="tabledata"> {{ label }}</td>
		<td width = "20%" class="tabledata"> {{ value }}</td>
		<br>
	</tr>
	{% endfor %}

</table>
<br>
<br>
<h2>
Product Analysis : 
</h2>
<br>
<br>
{% for pos, count in analyzeposdata %}
<p> {{ count }} people thinks that your product is / has : {{ pos }} </p>
{% endfor %}
<br>
{% for pos, count in analyzenegdata %}
<p> {{ count }} people dislike your product beacuse of : {{ pos }} </p>
{% endfor %}
</div>

<br>
<br>
<center>
<input type = "submit" value="Download" onclick="ExportPdf()" class = "download">  </center>
<br>
<br>

{% endif %}
    <script type="text/javascript">
         function ExportPdf()
         { 
    		kendo.drawing.drawDOM("#print", 
        	{ 
            		paperSize: "A2",
            		margin: { top: "1cm", bottom: "1cm", left : "1cm", right : "1cm" },
            		scale: 0.8,
            		height: 500
        	}).then(function(group){
            		kendo.drawing.pdf.saveAs(group, "Report.pdf")
        	});
    	}
    </script>


{% endblock %}
